@import "tailwindcss";

@config "../../tailwind.config.js";

button {
    @apply hover:cursor-pointer;
}

code {
    @apply bg-gray-100;
    @apply text-red-800;
    @apply py-1;
    @apply px-3;
}

code::before,
code::after {
    content: none !important;
}
